<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Get Rate Page</h2>
</div><br><br>

<div class="container">
  <h3 class="card-title">Your Total is :</h5>
  <p class="card-text">Mail type: "<%= mail_Type %>"</p>
  <p class="card-text">Weight: <%= weight %> Oz</p>
  <p class="card-text">Price: $<%= result %></p>
</div>
</body>
</html>
